@mixin page-padding($size: 30px) {
    padding-left: $size;
    padding-right: $size;
}

@mixin section-fit($size: 30px) {
    padding-top: $size;
    padding-bottom: $size;
}

@mixin shadow($color: #ccc) {
    box-shadow: 0px 5px 5px 0px $color;
}

@mixin border-radius-fit($top-left: 30px, $top-right: 30px, $bottom-right: 30px, $bottom-left: 30px) {
    border-top-left-radius: $top-left;
    border-top-right-radius: $top-right;
    border-bottom-right-radius: $bottom-right;
    border-bottom-left-radius: $bottom-left;
}