@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
  margin: 0px;
}

h1 {
  font-size: 24px;
  font-family: Shrikhand;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

h3 {
  font-size: 18px;
  margin-bottom: 5px;
  margin-top: 0px;
}

a {
  text-decoration: none;
  color: #000;
}

@media screen and (min-width: 992px) {
  .steps, .restaurants-list, .footer-content, .performance h2, .restaurants h2, .menu {
    max-width: 1400px;
    margin: auto;
  }
}
.button {
  width: auto;
  padding: 15px 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 18px;
  border-radius: 30px;
  border: none;
  box-shadow: #eee outset;
  font-weight: bolder;
}

.button-primary {
  background-image: linear-gradient(#FF79DA 5%, #9356DC);
  color: #fff;
}
.button-primary:hover {
  filter: brightness(120%);
}

.favorite {
  width: 50px;
  text-align: right;
  font-size: 22px;
}
.favorite .fa-heart {
  color: #000;
  transition: all 1000ms backwards;
}
.favorite .fa-heart:hover {
  font-weight: bold;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.plate {
  position: relative;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  background-color: #fff;
  margin-bottom: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 0px 5px 5px 0px #ccc;
}
.plate .description {
  margin: 15px;
  overflow: hidden;
  flex-grow: 1;
}
.plate-name, .plate-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0px;
  margin-top: 5px;
}
.plate .price {
  width: 50px;
  text-align: right;
  align-self: flex-end;
  font-weight: bold;
  margin-bottom: 15px;
  margin-right: 15px;
}
.plate .add-to-cart {
  width: 0px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #99E2D0;
  color: #fff;
  font-size: 24px;
  border-top-left-radius: 0px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 0px;
  transition: width 500ms;
}
.plate:hover > .add-to-cart {
  width: 70px;
}
.plate:hover > .add-to-cart i {
  transform: rotate(1turn);
  transition: transform 500ms;
}

.header {
  max-width: 1400px;
  margin: auto;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}
.header a {
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  left: 30px;
}
.header img {
  width: 200px;
  height: auto;
}

.footer-content {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
.footer-content p {
  font-size: 20px;
  font-family: Shrikhand;
}
.footer-content a {
  color: #fff;
  margin: 5px 0px 5px 0px;
}
.footer-content a i {
  margin-right: 15px;
}

.footer {
  background-color: #4d4d4d;
  color: #fff;
}

@media screen and (min-width: 992px) {
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.banner {
  width: 100%;
}
.banner img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.menu {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: -50px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #eee;
}
.menu .page-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu .button-block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.categories {
  display: flex;
  flex-direction: column;
  height: auto;
}
.categories-category {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.categories-category-plates {
  display: flex;
  flex-direction: column;
}
.categories-category h2 {
  margin-bottom: 10px;
  text-transform: uppercase;
}
.categories-category .title-border {
  width: 50px;
  border: 2px solid #99E2D0;
  margin-bottom: 30px;
}

@media screen and (min-width: 560px) {
  .categories {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .categories-category {
    width: 45%;
    margin: 2%;
  }
}
@media screen and (min-width: 992px) {
  .categories-category {
    width: 30%;
    margin: 1%;
  }
}

/*# sourceMappingURL=restaurant.css.map */
