.button{
    width: auto;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 18px;
    border-radius: 30px;
    border: none;
    box-shadow: #eee outset;
    font-weight: bolder;
}

.button-primary{
    background-image: linear-gradient($secondary-color 5%, $primary-color);
    color: #fff;
}