.loader{
    height: 100vh;
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: disappear 5s forwards;

    &-spin{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 10px solid #eee;
        border-color: $primary-color $secondary-color $tertiary-color;
        animation: border-rotate 3s ease forwards;
    }

    &-text{
        font-size: 32px;
        font-weight: 700;
        color: $primary-color;

        &::before{
            content: 'Oh';
            color: $secondary-color;
        }

        &::after{
            content: 'food';
            color: $tertiary-color;
        }
    }
}

@keyframes disappear {
    0%, 40%{
        display: flex;
        opacity: 1;
    }

    80%{
        opacity: 0.8;
    }

    100%{
        display: none;
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes border-rotate {
    0%{
        transform: rotate(3turn);
        opacity: 1;
    }

    40%{
        opacity: 0.4;
    }

    80%{
        opacity: 0.2;
    }

    100%{
        opacity: 0;
        visibility: hidden;
    }
}
