<!DOCTYPE html>
<html lang="fr" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description"
            content="Le delice de sens! Reservez le menu qui vous convient sur l'ensemble des plats de la carte du restaurant.">
        <meta name="keywods" content="restaurants, menus, plats delicieux, commande en ligne, ohmyfood, le delice de sens">

        <title>Restaurant: le delice des sens</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
        <link rel="stylesheet" href="../assets/css/restaurant.css">
        <link href="https://fonts.googleapis.com/css2?family=Shrikhand&amp;display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&amp;display=swap" rel="stylesheet">

        <script src="https://kit.fontawesome.com/6df78dbc74.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header class="header">
            <a href="../index.html"><i class="fa-solid fa-arrow-left"></i></a>
            <img src="../assets/images/logo/ohmyfood.png" alt="logo Oh my Food">
        </header>
        <div class="banner">
            <img src="../assets/images/restaurants/la_palette_du_gout.jpg" alt="repas la palette du gout">
        </div>
        <main class="menu">
            <div class="page-title">
                <h1>Le delice de sens</h1>
                <div class="favorite">
                    <i class="fa-regular fa-heart"></i>
                </div>
            </div>

            <section class="categories">
                <section class="categories-category entries">
                    <h2>Entrees</h2>
                    <div class="title-border"></div>
                    <div class="categories-category-plates">
                        <article class="plate">
                            <div class="description">
                                <h3 class="plate-name">Tartare de thon</h3>
                                <p class="plate-content">Assaisonne au yuzu</p>
                            </div>
                            <div class="price">
                                <span>25€</span>
                            </div>
                            <div class="add-to-cart">
                                <i class="fa-solid fa-circle-check"></i>
                            </div>
                        </article>

                        <article class="plate">
                            <div class="description">
                                <h3 class="plate-name">Bouchee de homard croustillant</h3>
                                <p class="plate-content">Et sa farandole de petits legumes</p>
                            </div>
                            <div class="price">
                                <span>35€</span>
                            </div>
                            <div class="add-to-cart">
                                <i class="fa-solid fa-circle-check"></i>
                            </div>
                        </article>

                        <article class="plate">
                            <div class="description">
                                <h3 class="plate-name">Veloute de cepes</h3>
                                <p class="plate-content">Aux truffes</p>
                            </div>
                            <div class="price">
                                <span>20€</span>
                            </div>
                            <div class="add-to-cart">
                                <i class="fa-solid fa-circle-check"></i>
                            </div>
                        </article>
                    </div>
                </section>

                <section class="categories-category entries">
                    <h2>Plats</h2>
                    <div class="title-border"></div>
                    <div class="categories-category-plates">
                        <article class="plate">
                            <div class="description">
                                <h3 class="plate-name">Poulet roti aux herbes de provence</h3>
                                <p class="plate-content">Et sa creme de truffe</p>
                            </div>
                            <div class="price">
                                <span>40€</span>
                            </div>
                            <div class="add-to-cart">
                                <i class="fa-solid fa-circle-check"></i>
                            </div>
                        </article>

                        <article class="plate">
                            <div class="description">
                                <h3 class="plate-name">Langouste rotie</h3>
                                <p class="plate-content">Et ses legumes de saison</p>
                            </div>
                            <div class="price">
                                <span>35€</span>
                            </div>
                            <div class="add-to-cart">
                                <i class="fa-solid fa-circle-check"></i>
                            </div>
                        </article>

                        <article class="plate">
                            <div class="description">
                                <h3 class="plate-name">Cote de boeuf angus</h3>
                                <p class="plate-content">Et sa puree de panais</p>
                            </div>
                            <div class="price">
                                <span>44€</span>
                            </div>
                            <div class="add-to-cart">
                                <i class="fa-solid fa-circle-check"></i>
                            </div>
                        </article>
                    </div>
                </section>

                <section class="categories-category entries">
                    <h2>Desserts</h2>
                    <div class="title-border"></div>
                    <div class="categories-category-plates">
                        <article class="plate">
                            <div class="description">
                                <h3 class="plate-name">Farandole de desserts</h3>
                                <p class="plate-content">Du chef</p>
                            </div>
                            <div class="price">
                                <span>18€</span>
                            </div>
                            <div class="add-to-cart">
                                <i class="fa-solid fa-circle-check"></i>
                            </div>
                        </article>

                        <article class="plate">
                            <div class="description">
                                <h3 class="plate-name">Creme brulee</h3>
                                <p class="plate-content">Revisitee</p>
                            </div>
                            <div class="price">
                                <span>22€</span>
                            </div>
                            <div class="add-to-cart">
                                <i class="fa-solid fa-circle-check"></i>
                            </div>
                        </article>

                        <article class="plate">
                            <div class="description">
                                <h3 class="plate-name">Tiramisu</h3>
                                <p class="plate-content">A la noisette</p>
                            </div>
                            <div class="price">
                                <span>23€</span>
                            </div>
                            <div class="add-to-cart">
                                <i class="fa-solid fa-circle-check"></i>
                            </div>
                        </article>
                    </div>
                </section>
            </section>
            <div class="button-block">
                <button class="button button-primary">Commander</button>
            </div>
        </main>
        <footer class="footer">
            <div class="footer-content">
                <p>Ohmyfood</p>
                <a href="#"><i class="fa-solid fa-utensils"></i>Proposer un restaurant</a>
                <a href="#"><i class="fa-solid fa-handshake-angle"></i>Devenir partenaire</a>
                <a href="#">Mentions legales</a>
                <a href="#">Contact</a>
            </div>
        </footer>
        
    </body>
</html>