<!DOCTYPE html>
<html lang="fr" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description"
            content="La palette du gout! Reservez le menu qui vous convient sur l'ensemble des plats de la carte du restaurant.">
        <meta name="keywods" content="restaurants, menus, plats delicieux, commande en ligne, ohmyfood, la palette du gout">

        <title>Restaurant: la palette du gout</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
        <link rel="stylesheet" href="../assets/css/restaurant.css">
        <link href="https://fonts.googleapis.com/css2?family=Shrikhand&amp;display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&amp;display=swap" rel="stylesheet">

        <script src="https://kit.fontawesome.com/6df78dbc74.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header class="header">
            <a href="../index.html"><i class="fa-solid fa-arrow-left"></i></a>
            <img src="../assets/images/logo/ohmyfood.png" alt="logo Oh my Food">
        </header>
        <div class="banner">
            <img src="../assets/images/restaurants/la_palette_du_gout.jpg" alt="repas la palette du gout">
        </div>
        <main class="menu">
            <div class="page-title">
                <h1>La palette du gout</h1>
                <div class="favorite">
                    <i class="fa-regular fa-heart"></i>
                </div>
            </div>

            <section class="categories">
                <section class="categories-category entries">
                    <h2>Entrees</h2>
                    <div class="title-border"></div>
                    <div class="categories-category-plates">
                        <article class="plate">
                            <div class="description">
                                <h3 class="plate-name">Fricassee d'escargot</h3>
                                <p class="plate-content">Au pimet d'espelette</p>
                            </div>
                            <div class="price">
                                <span>25€</span>
                            </div>
                            <div class="add-to-cart">
                                <i class="fa-solid fa-circle-check"></i>
                            </div>
                        </article>

                        <article class="plate">
                            <div class="description">
                                <h3 class="plate-name">Foie gras de canard mi-cuit</h3>
                                <p class="plate-content">Et ses copaux de truffe noire</p>
                            </div>
                            <div class="price">
                                <span>35€</span>
                            </div>
                            <div class="add-to-cart">
                                <i class="fa-solid fa-circle-check"></i>
                            </div>
                        </article>

                        <article class="plate">
                            <div class="description">
                                <h3 class="plate-name">Oeuf au plat</h3>
                                <p class="plate-content">Assaisonnee a la truffe sur le lit de legumes frais</p>
                            </div>
                            <div class="price">
                                <span>20€</span>
                            </div>
                            <div class="add-to-cart">
                                <i class="fa-solid fa-circle-check"></i>
                            </div>
                        </article>
                    </div>
                </section>

                <section class="categories-category entries">
                    <h2>Plats</h2>
                    <div class="title-border"></div>
                    <div class="categories-category-plates">
                        <article class="plate">
                            <div class="description">
                                <h3 class="plate-name">Filet de boeufs aux herbes</h3>
                                <p class="plate-content">Accompagnee de sa ribambelle de legumes</p>
                            </div>
                            <div class="price">
                                <span>40€</span>
                            </div>
                            <div class="add-to-cart">
                                <i class="fa-solid fa-circle-check"></i>
                            </div>
                        </article>

                        <article class="plate">
                            <div class="description">
                                <h3 class="plate-name">Parmentier de queue de boeuf</h3>
                                <p class="plate-content">A la truffe noire sur sa puree de panais</p>
                            </div>
                            <div class="price">
                                <span>35€</span>
                            </div>
                            <div class="add-to-cart">
                                <i class="fa-solid fa-circle-check"></i>
                            </div>
                        </article>

                        <article class="plate">
                            <div class="description">
                                <h3 class="plate-name">Filet de turbot</h3>
                                <p class="plate-content">Aux legumes</p>
                            </div>
                            <div class="price">
                                <span>44€</span>
                            </div>
                            <div class="add-to-cart">
                                <i class="fa-solid fa-circle-check"></i>
                            </div>
                        </article>
                    </div>
                </section>

                <section class="categories-category entries">
                    <h2>Desserts</h2>
                    <div class="title-border"></div>
                    <div class="categories-category-plates">
                        <article class="plate">
                            <div class="description">
                                <h3 class="plate-name">Paris-Brest</h3>
                                <p class="plate-content">Revisite</p>
                            </div>
                            <div class="price">
                                <span>18€</span>
                            </div>
                            <div class="add-to-cart">
                                <i class="fa-solid fa-circle-check"></i>
                            </div>
                        </article>

                        <article class="plate">
                            <div class="description">
                                <h3 class="plate-name">Macaron au chocolat d'exception</h3>
                                <p class="plate-content">Et glace a la valille de Madagascar</p>
                            </div>
                            <div class="price">
                                <span>22€</span>
                            </div>
                            <div class="add-to-cart">
                                <i class="fa-solid fa-circle-check"></i>
                            </div>
                        </article>

                        <article class="plate">
                            <div class="description">
                                <h3 class="plate-name">Mousse au chocolat</h3>
                                <p class="plate-content">Au piment d'espelette et a la truffe noire</p>
                            </div>
                            <div class="price">
                                <span>23€</span>
                            </div>
                            <div class="add-to-cart">
                                <i class="fa-solid fa-circle-check"></i>
                            </div>
                        </article>
                    </div>
                </section>
            </section>
            <div class="button-block">
                <button class="button button-primary">Commander</button>
            </div>
        </main>
        <footer class="footer">
            <div class="footer-content">
                <p>Ohmyfood</p>
                <a href="#"><i class="fa-solid fa-utensils"></i>Proposer un restaurant</a>
                <a href="#"><i class="fa-solid fa-handshake-angle"></i>Devenir partenaire</a>
                <a href="#">Mentions legales</a>
                <a href="#">Contact</a>
            </div>
        </footer>
        
    </body>
</html>