<!DOCTYPE html>
<html lang="fr" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description"
            content="La note enchanteet! Reservez le menu qui vous convient sur l'ensemble des plats de la carte du restaurant.">
        <meta name="keywods" content="restaurants, menus, plats delicieux, commande en ligne, ohmyfood, la note enchantee">

        <title>Restaurant: la note enchantee</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
        <link rel="stylesheet" href="../assets/css/restaurant.css">
        <link href="https://fonts.googleapis.com/css2?family=Shrikhand&amp;display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&amp;display=swap" rel="stylesheet">

        <script src="https://kit.fontawesome.com/6df78dbc74.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header class="header">
            <a href="../index.html"><i class="fa-solid fa-arrow-left"></i></a>
            <img src="../assets/images/logo/ohmyfood.png" alt="logo Oh my Food">
        </header>
        <div class="banner">
            <img src="../assets/images/restaurants/la_palette_du_gout.jpg" alt="repas la palette du gout">
        </div>
        <main class="menu">
            <div class="page-title">
                <h1>La note enchantee</h1>
                <div class="favorite">
                    <i class="fa-regular fa-heart"></i>
                </div>
            </div>

            <section class="categories">
                <section class="categories-category entries">
                    <h2>Entrees</h2>
                    <div class="title-border"></div>
                    <div class="categories-category-plates">
                        <article class="plate">
                            <div class="description">
                                <h3 class="plate-name">Ravioles de foie gras</h3>
                                <p class="plate-content">Acco;pagnes de leur creme a la truffe</p>
                            </div>
                            <div class="price">
                                <span>25€</span>
                            </div>
                            <div class="add-to-cart">
                                <i class="fa-solid fa-circle-check"></i>
                            </div>
                        </article>

                        <article class="plate">
                            <div class="description">
                                <h3 class="plate-name">Caviar oscietre</h3>
                                <p class="plate-content">Sur bini a la farine de ble noir</p>
                            </div>
                            <div class="price">
                                <span>35€</span>
                            </div>
                            <div class="add-to-cart">
                                <i class="fa-solid fa-circle-check"></i>
                            </div>
                        </article>

                        <article class="plate">
                            <div class="description">
                                <h3 class="plate-name">Homard et espuma de truffes</h3>
                                <p class="plate-content">Marine au zeste d'orange</p>
                            </div>
                            <div class="price">
                                <span>35€</span>
                            </div>
                            <div class="add-to-cart">
                                <i class="fa-solid fa-circle-check"></i>
                            </div>
                        </article>

                        <article class="plate">
                            <div class="description">
                                <h3 class="plate-name">Foie gras de canard cuit entier</h3>
                                <p class="plate-content">Confiture de figue et pain toaste</p>
                            </div>
                            <div class="price">
                                <span>35€</span>
                            </div>
                            <div class="add-to-cart">
                                <i class="fa-solid fa-circle-check"></i>
                            </div>
                        </article>
                    </div>
                </section>

                <section class="categories-category entries">
                    <h2>Plats</h2>
                    <div class="title-border"></div>
                    <div class="categories-category-plates">
                        <article class="plate">
                            <div class="description">
                                <h3 class="plate-name">Noix de coauilles Saint-Jacques</h3>
                                <p class="plate-content">Sur lit de puree de celeri-rave</p>
                            </div>
                            <div class="price">
                                <span>40€</span>
                            </div>
                            <div class="add-to-cart">
                                <i class="fa-solid fa-circle-check"></i>
                            </div>
                        </article>

                        <article class="plate">
                            <div class="description">
                                <h3 class="plate-name">Langoustine poelee</h3>
                                <p class="plate-content">Puree de patate douce</p>
                            </div>
                            <div class="price">
                                <span>35€</span>
                            </div>
                            <div class="add-to-cart">
                                <i class="fa-solid fa-circle-check"></i>
                            </div>
                        </article>

                        <article class="plate">
                            <div class="description">
                                <h3 class="plate-name">Mijote de queue de boeuf</h3>
                                <p class="plate-content">Et riz sauvage aux zeste de citron</p>
                            </div>
                            <div class="price">
                                <span>44€</span>
                            </div>
                            <div class="add-to-cart">
                                <i class="fa-solid fa-circle-check"></i>
                            </div>
                        </article>
                    </div>
                </section>

                <section class="categories-category entries">
                    <h2>Desserts</h2>
                    <div class="title-border"></div>
                    <div class="categories-category-plates">
                        <article class="plate">
                            <div class="description">
                                <h3 class="plate-name">Macaron noisette et chocolat</h3>
                                <p class="plate-content">Glace au caramel brun et sel de Guerande</p>
                            </div>
                            <div class="price">
                                <span>18€</span>
                            </div>
                            <div class="add-to-cart">
                                <i class="fa-solid fa-circle-check"></i>
                            </div>
                        </article>

                        <article class="plate">
                            <div class="description">
                                <h3 class="plate-name">Baba au rhum revisite</h3>
                                <p class="plate-content">Avec son coulis de citron</p>
                            </div>
                            <div class="price">
                                <span>22€</span>
                            </div>
                            <div class="add-to-cart">
                                <i class="fa-solid fa-circle-check"></i>
                            </div>
                        </article>

                        <article class="plate">
                            <div class="description">
                                <h3 class="plate-name">Tarte au citron meringuee</h3>
                                <p class="plate-content">Destructuree</p>
                            </div>
                            <div class="price">
                                <span>23€</span>
                            </div>
                            <div class="add-to-cart">
                                <i class="fa-solid fa-circle-check"></i>
                            </div>
                        </article>
                    </div>
                </section>
            </section>
            <div class="button-block">
                <button class="button button-primary">Commander</button>
            </div>
        </main>
        <footer class="footer">
            <div class="footer-content">
                <p>Ohmyfood</p>
                <a href="#"><i class="fa-solid fa-utensils"></i>Proposer un restaurant</a>
                <a href="#"><i class="fa-solid fa-handshake-angle"></i>Devenir partenaire</a>
                <a href="#">Mentions legales</a>
                <a href="#">Contact</a>
            </div>
        </footer>
        
    </body>
</html>